<h1><a href='/'>Home</a> / <a href='/projects'>Projects</a> / New Project</h1>

<form action='/projects' method='post'>
  <label for='name'>Name</label>
  <input type='text' name='name' id='name' />
  <div>
    <input type="submit" value="Create" />
  </div>
</form>
